/*config do logo*/
.navbar-brand img {
    width: 10%;
    /* Ajuste conforme necessário */
}

.navbarNav {
    justify-content: flex-end;
}

.navbar-brand {
    background-color: #0b3460;
}

/*menus da nav bar nav bar*/
#home-link {
    background-color: #0b3460;
}

#main-title {
    text-align: center;
    margin: 2% 0 4%;
    /* Ajuste conforme necessário */
}

/* HOME */
#contacts-table {
    margin: 0 auto;
    width: 96%;
    /* Ajuste conforme necessário */
    overflow-x: auto;
}

#contacts-table thead {
    color: #FFF;
    background-color: #0b3460;
}

/*  ajuste do tamanhao da linha sem quebra de texto */
#contacts-table td {
    white-space: nowrap;
}

/* Defina as larguras das colunas em porcentagem */
.col-name {
    width: 30%;
}

.col-lastname {
    width: 30%;
}

.col-phone {
    width: 20%;
}

.col-id {
    font-weight: bold;
}

/* Estilos para ações dentro da tabela de contatos */
.actions {
    text-align: right;
    width: 12%;
    /* Reduz a largura para ajustar o espaço */
}

.actions i {
    font-size: 18px;
    /* Ajusta o tamanho do ícone */
    margin-right: 10px;
    /* Ajusta a margem à direita */
}

.check-icon {
    color: #1E7E34;
}

.edit-icon {
    color: #007BFF;
}

.delete-form {
    display: inline-block;
}

.delete-form button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.delete-icon {
    color: #BD2130;
}

#empty-list-text {
    text-align: center;
}

#msg {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    padding: 2%;
    /* Ajuste conforme necessário */
    text-align: center;
    max-width: 50%;
    /* Ajuste conforme necessário */
    margin: 0 auto;
    margin-top: 3%;
    /* Ajuste conforme necessário */
}

/* SHOW / CONTATO INDIVIDUAL */
#view-contact-container {
    max-width: 50%;
    /* Ajuste conforme necessário */
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

#back-link-container {
    display: block;
    width: 50%;
    /* Ajuste conforme necessário */
    margin: 4% auto 0;
}

/*botão voltar*/
#back-link {
    border: 1px solid #0b3460;
    color: #0b3460;
    border-radius: 4px;
    padding: 1%;
    /* Ajuste conforme necessário */
}

#back-link:hover {
    text-decoration: none;
}

/* Menus do show */
.contact-name div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-name div p {
    margin-bottom: 0;
}

/* CREATE */
#create-form,
#edit-form {
    max-width: 50%;
    /* Ajuste conforme necessário */
    margin: 0 auto;
}

/* Responsividade */
@media (max-width: 480px) {
    #home-link {
        display: none;
    }

    /* ajuste de responsividade para dispositivos móveis */
    #contacts-table {
        font-size: 0.8rem;
    }

    .actions {
        width: 20%;
        /* Ajuste conforme necessário */
    }
}

/* Defina o tamanho do modal conforme necessário */
.modal-sm {
    max-width: 10%;
    /* Ajuste conforme necessário */
    /* Defina a largura desejada para o modal pequeno */
}

/* Ajuste o tamanho do modal de pesquisa em porcentagem */
#searchResultsModal .modal-dialog {
    max-width: 80%;
    /* Ajuste conforme necessário */
    /* Defina a largura desejada em porcentagem */
}

/* Adicione estas classes para limitar o tamanho do bloco de botões */
.button-menu-container {
    max-width: 96%;
    /* Ajuste conforme necessário */
    margin: 0 auto;
    /* Centralizar horizontalmente */
}

.button-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Estilos para o container dos elementos de pesquisa */
.search-container {
    display: flex;
    align-items: center;
    margin-left: 2%;
    /* Adicione uma margem esquerda para separar as colunas */
}

/* Estilos para os inputs de pesquisa */
#search-type,
#search-input {
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1%;
    width: 30%;
}

/* Estilos para o botão de pesquisa */
#search-button {
    padding: 2%;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

/* Estilos para o container dos elementos de ordenação */
.sort-form {
    display: flex;
    align-items: center;
    margin-left: 2%;
    /* Adicione uma margem esquerda para separar as colunas */
}

/* Estilos para o select de ordenação */
#order {
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1%;
    width: 40%;
}

/* Estilos para o botão de ordenação */
.sort-button {
    padding: 2%;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.sort-button:hover {
    background-color: #0056b3;
}

