/*config do logo*/
.navbar-brand img {
    width: 50px;
}

.navbarNav{
justify-content: flex-end;
}

.navbar-brand {
    background-color: #0b3460;
}
/*menus da nav bar nav bar*/
#home-link{
    background-color: #0b3460;
}


#main-title {
    text-align: center;
    margin: 15px 0 30px;
}

/* HOME */
#contacts-table {
    
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
}

#contacts-table thead {
    color: #FFF;
    background-color: #0b3460;
}

/*  ajuste do tamanhao da linha sem quebra de texto*/
#contacts-table td {
    white-space: nowrap;
}

.col-id {
    font-weight: bold;
}

.actions {
    text-align: right;
    width: 150px;
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.check-icon {
    color: #1E7E34;
}

.edit-icon {
    color: #007BFF;
}

.delete-form {
    display: inline-block;
}

.delete-form button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.delete-icon {
    color: #BD2130;
}

#empty-list-text {
    text-align: center;
}

#msg {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/* SHOW / CONTATO INDIVIDUAL */
#view-contact-container {
    max-width: 500px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

#back-link-container {
    display: block;
    width: 500px;
    margin: 30px auto 0;
}

/*botão voltar*/
#back-link {
    border: 1px solid #0b3460;
    color: #0b3460;
    border-radius: 4px;
    padding: 5px;
}

#back-link:hover {
    text-decoration: none;
}

/* Menus do show*/

.contact-name div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-name div p {
    margin-bottom: 0;
}

/* CREATE */
#create-form,
#edit-form {
    max-width: 500px;
    margin: 0 auto;
}

/* Estilo para a mensagem de aviso ou resultado no modal */
.modal-warning {
    color: red;
    /* Cor do texto */
    font-weight: bold;
    /* Peso da fonte */
    margin-bottom: 20px;
    /* Espaçamento inferior */
}

/* Responsividade */
@media(max-width: 480px) {

    #home-link {
        display: none;
    }

    /* ajuste de responsividade para dispositivos móveis */
    #contacts-table {
        font-size: 0.8rem;
    }

    .actions {
        width: 120px;
    }

}

/* Defina o tamanho do modal conforme necessário */
.modal-sm {
    max-width: 300px;
    /* Defina a largura desejada para o modal pequeno */
}

/* Ajuste o tamanho do modal de pesquisa em porcentagem */
#searchResultsModal .modal-dialog {
    max-width: 80%;
    /* Defina a largura desejada em porcentagem */
}